* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.header {
	background-color: var(--white);
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
	position: sticky;
	top: 0;
	z-index: 100;
}

.header-container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 5%;
}

.header-nav ul {
	display: flex;
	list-style: none;
	gap: 30px;
}

.header-nav a {
	text-decoration: none;
	color: var(--text-dark);
	font-weight: 500;
	font-size: 15px;
	transition: color 0.3s ease;
	position: relative;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.header-nav a:hover {
	color: var(--morado-oscuro);
}

.header-nav a::after {
	content: '';
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 0;
	height: 2px;
	background-color: var(--amarillo);
	transition: width 0.3s ease;
}

.header-nav a:hover::after {
	width: 100%;
}

/* identificate */
.header-actions a {
  text-decoration: none;
  color: var(--text-dark);
	font-size: 15px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
}

.header-actions a:hover {
  color: var(--morado-oscuro);
}

.btn-primary {
	background-color: var(--morado-oscuro);
	color: var(--white);
	border: none;
	padding: 10px 24px;
	border-radius: 6px;
	font-weight: 600;
	cursor: pointer;
	transition: all 0.3s ease;
	font-size: 14px;
}

.mobile-login-link {
  display: none;
}

.btn-primary:hover {
	background-color: var(--morado-claro);
	box-shadow: 0 4px 12px rgba(13, 71, 161, 0.3);
	transform: translateY(-2px);
}

.menu-toggle {
	display: none;
	flex-direction: column;
	background: none;
	border: none;
	cursor: pointer;
	gap: 5px;
}

.menu-toggle span {
	width: 25px;
	height: 3px;
	background-color: var(--text-dark);
	border-radius: 2px;
	transition: all 0.3s ease;
}

/* movil y tablets */
@media (max-width: 768px) {
	.header-container {
		padding: 0 15px;
		height: 60px;
	}

	.header-logo h1 {
		font-size: 20px;
	}

	.menu-toggle {
		display: flex;
	}

  .mobile-login-link {
  display: contents;
  }

	.header-nav {
		position: absolute;
		top: 60px;
		left: 0;
		right: 0;
		background-color: var(--white);
		flex-direction: column;
		border-bottom: 1px solid var(--border-color);
		max-height: 0;
		overflow: hidden;
		transition: max-height 0.3s ease;
	}

	.header-nav.active {
		max-height: 300px;
	}

	.header-nav ul {
		flex-direction: column;
		gap: 0;
		padding: 15px 20px;
	}

	.header-nav li {
		padding: 10px 0;
	}

	.header-nav a::after {
		display: none;
	}

	.header-actions {
		display: none;
	}
}

@media (max-width: 480px) {
	.header-logo h1 {
		font-size: 18px;
		letter-spacing: 1px;
	}

	.header-container {
		height: 55px;
	}
}
